<div class="row">

  <div class="col-sm-4">
    <h1>Add a New Division</h1>
  </div>
  <div class="col-sm-4">

    <%= bootstrap_form_for(@division) do |form| %>

      <%= form.text_field :name %>
      <%= form.submit class: 'btn btn-success'%>

      or
      
      <%= link_to "Cancel", "/divisions" %>
    <% end %>

</div>
</div>