.division{
  margin-left: 30px
}
.department{
  margin-left: 40px
}
.employee{
  margin-left: 30px
}
.title1{
  text-transform: capitalize;
  font-size: large;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.title2{
  text-decoration: underline;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.addnew{
  margin-left: 15px;
}
.welcome{
  margin-left: 15px;
  color: grey;
}
.edit-delete{
  margin-bottom: 15px;
  margin-left: 30px;
}
.subtitle{
  margin-left: 30px
}

